<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css"  href="/stylesheets/styles.css">
  <title>A22: Express 基礎驗收</title>
</head>

<body>
  <header>
    <nav class="navbar">
      <a href="/" class="page" id="index">回到首頁</a>
      <a href="/about" class="page" id="about">About</a>
      <a href="/portfolio" class="page" id="portfolio">Portfolio</a>
      <a href="/contact" class="page" id="contact">Contact</a>
    </nav>
  </header>

    {{{ body }}}
</body>
<script>

     
    
</script>
</html>